html, body{
	width:70%;
	margin:auto;
	background-color : #f7f7f7;
} 

.container {
	background-color : #fff;
	border : 1px solid #ddd;
	padding : 0% 2% 0% 2%;
}


.main-header{
	display: inline-block;
	height:200px;
	margin-top:40px;

}


.form-container{
	display:block;
	margin-top: -60px;
}

header h1 {
	font-size: 170%;
}

header img {
	 width: 200px;
	}


.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td   {
	border-top:0; 
	}

textarea {
	resize :none;
	border :  1px solid #ddd;
	box-shadow : 5px 5px 5px #ddd;
}

input, select {
	border :0;
	border-bottom :1px solid #ddd;
}

input[type=number] {
  -moz-appearance: textfield;
}	 

